<!--The whole content below can be removed with the new code.-->
<div>

  <md-toolbar color="primary">
    <span>VK Liked Posts</span>
    <button md-icon-button>
      <a *ngIf="authService.loggedIn()" (click)="authService.logout()">Log Out</a>
      <a *ngIf="!authService.loggedIn()" href="{{url_to_get_token}}">Log In</a>
    </button>
  </md-toolbar>
  <md-card *ngIf="!authService.loggedIn()">
    <span>
      Для взаимодействия с данными VK.com требуется авторизация!
    </span>
  </md-card>
  <md-tab-group [selectedIndex]="selectedTab" *ngIf="authService.loggedIn()">

    <md-tab label="Посты">
      <md-card *ngFor="let post of posts">
      <md-card-header>
        <md-card-subtitle>{{post.date}}</md-card-subtitle>
      </md-card-header>
        <md-card-content>
          <p>
            {{ post.text }}
          </p>
        </md-card-content>
        <img *ngIf="post.attachment.type === 'link'" md-card-image src="{{post.attachment.link.image_big}}" alt="">
        <img *ngIf="post.attachment.type === 'photo'" md-card-image src="{{post.attachment.photo.src_big}}" alt="">
        <md-card-actions>
          <button md-button>
            <i class="material-icons md-18"> visibility </i> ПОСМОТРЕТЬ ОРИГИНАЛ
          </button>
        </md-card-actions>

      </md-card>

    </md-tab>

    <md-tab label="Настройки">
      <md-card>
        <form novalidate (submit)="submitForm($event, form.value)" #form="ngForm">
          <md-input-container class="md-block">
            <input mdInput ngModel name="user_id" placeholder="Пользователь" value="">
          </md-input-container>
          <div class="md-errors-spacer"></div>

          <md-input-container class="md-block">
            <input mdInput ngModel name="group_id" placeholder="Сообщество" value="">
          </md-input-container>
          <div class="md-errors-spacer"></div>

          <md-input-container class="md-block">
            <input mdInput type="number" ngModel name="posts_count" placeholder="Кол-во постов" value="">
          </md-input-container>
          <div class="md-errors-spacer"></div>

          <button md-raised-button color="primary" type="submit">Найти</button>
        </form>
      </md-card>

    </md-tab>

  </md-tab-group>
</div>


