<!--The whole content below can be removed with the new code.-->
<div>
  <div class="progress-bar-container">
    <md-progress-bar 
      *ngIf="appService.state.isGettingPosts || state.isCheckingLikes" 
      mode="buffer" 
      [bufferValue]="appService.state.wallGetResultsPercentage" 
      [value]="state.page.counter / state.posts.all.length * 100 || 0" 
      color="accent">
    </md-progress-bar>
  </div>
  <md-toolbar color="primary">
    <span>
      <a [routerLink]="['/']">VK Liked Posts</a>
      <span *ngIf="state.posts.skipped.length"> |
        <i class="material-icons md-18"> error_outline </i> {{ state.posts.skipped.length }}
      </span>
    </span>
    <button md-icon-button *ngIf="authService.loggedIn()" (click)="authService.logout()">Log Out</button>
    <button md-icon-button *ngIf="!authService.loggedIn()" (click)="authService.login()">Log In</button>
  </md-toolbar>
  <md-card *ngIf="!authService.loggedIn()">
    <span>
      Для взаимодействия с данными VK.com требуется авторизация!
    </span>
  </md-card>
  <md-tab-group [selectedIndex]="state.page.tab" *ngIf="authService.loggedIn()">

    <md-tab label="Посты" *ngIf="state.posts.liked.length">
    <md-card>
      <md-input-container class="md-block">
          <input mdInput [(ngModel)]="term" type="text" placeholder="Поиск">
      </md-input-container>
    </md-card>
    <div class="wrapper__pagination_controls">
        <pagination-controls 
          class="pagination_controls"
          (pageChange)="state.page.p = $event"
          previousLabel="Назад"
          nextLabel="Далее"
          >
        </pagination-controls>
      </div>
      <md-card *ngFor="let post of state.posts.liked | filter:term | paginate: { itemsPerPage: 5, currentPage: state.page.p }">
      <md-card-header>
        <md-card-title>{{post.date}}</md-card-title>
        <md-card-subtitle *ngIf="post.reposted === 1">
          <i class="material-icons md-18"> reply </i> репост
        </md-card-subtitle>
      </md-card-header>
      <!-- FIX ME -->
      <div *ngIf="post.attachments">
        <span *ngIf="checkPhotoAttachments(post.attachments).length > 1">
          <img md-card-image src="{{checkPhotoAttachments(post.attachments)[0].image}}" alt="">
          <ng2-image-gallery [images]="checkPhotoAttachments(post.attachments).slice(1)"></ng2-image-gallery> 
        </span>
        <span *ngIf="checkPhotoAttachments(post.attachments).length === 1">
          <span *ngFor="let attachment of post.attachments">
            <img *ngIf="attachment.type === 'photo'" md-card-image src="{{attachment.photo.photo_604}}" alt="">
          </span>
        </span>
          <md-nav-list *ngIf="checkAttachments(post.attachments, 'audio')">
            <span *ngFor="let attachment of post.attachments">
              <md-list-item *ngIf="attachment.type === 'audio'" (click)="clickOnAudio(attachment.audio)">
                  <md-icon  md-list-icon>play_circle_filled</md-icon>
                  <h4 md-line>{{attachment.audio.artist}}</h4>
                  <p md-line> {{attachment.audio.title}} </p>
              </md-list-item>
            </span>
          </md-nav-list>
      </div>
      <!-- ^^^^^ -->
        <md-card-content *ngFor="let paragraph of post.text.split('\n')">
          <p>{{ paragraph }}</p>
        </md-card-content>
        <md-card-actions>
          <button (click)="showOriginal(post)" md-button>
            <i class="material-icons md-18"> visibility </i> ОРИГИНАЛ
          </button>
          <button md-button>
              <i class="material-icons md-18"> favorite </i> {{post.likes.count}}
          </button>
        </md-card-actions>

      </md-card>
      <div class="wrapper__pagination_controls">
        <pagination-controls 
          class="pagination_controls"
          (pageChange)="state.page.p = $event"
          previousLabel="Назад"
          nextLabel="Далее"
          >
        </pagination-controls>
      </div>

    </md-tab>

    <md-tab label="Пользователь" *ngIf="!state.user.uid || state.user.deactivated">
      <md-card>
        <md-card-content>
          <form novalidate (submit)="submitUserForm($event, userForm.value)" #userForm="ngForm">
            <md-input-container class="md-block">
              <input mdInput ngModel required min="0" name="user_id" placeholder="ID кого искать" type="number">
            </md-input-container>
            <div class="md-errors-spacer"></div>

            <button md-raised-button color="primary" [disabled]="!userForm.valid" type="submit">Найти</button>
          </form>
        </md-card-content>
      </md-card>

    </md-tab>

    <md-tab label="Поиск лайков" *ngIf="state.user.uid && !state.user.deactivated">
      <md-card>
        <md-card-header>
          <div md-card-avatar><img src="{{state.user.photo_50}}" alt=""></div>
          <md-card-title>{{state.user.first_name}} {{state.user.last_name}}</md-card-title>
          <md-card-subtitle *ngIf="state.user.online === 1">Online</md-card-subtitle>
          <md-radio-group *ngIf="state.groups.current.length" name="radio" [(ngModel)]="state.page.radio">
            <md-radio-button value="user_groups">Группы пользователя</md-radio-button>
            <md-radio-button value="other_groups">Другие группы</md-radio-button>
          </md-radio-group>
        </md-card-header>
        <md-card-content>
          <form novalidate (submit)="submitWallForm($event, wallForm)" #wallForm="ngForm">
            <md-input-container *ngIf="state.page.radio === 'other_groups'" class="md-block">
              <input mdInput ngModel required name="group_id" placeholder="ID где искать" type="number">
            </md-input-container>

            <md-select *ngIf="state.page.radio === 'user_groups'"
                        required 
                        ngModel 
                        name="group_id"
                        placeholder="Группы пользователя">
              <md-option mdInput *ngFor="let group of state.groups.current" [value]="group.id * -1">
                <img src="{{group.photo_50}}">
                {{group.name}}
              </md-option>
              <button md-button *ngIf="state.groups.available >= state.groups.offset" (click)="getMoreGroups()" style="width: 100%; height: 40px;">Загрузить ещё</button>
            </md-select>

            <md-input-container class="md-block">
              <input mdInput min="1" ngModel required name="posts_count" placeholder="Кол-во постов" type="number">
            </md-input-container>
            <div class="md-errors-spacer"></div>

            <button md-raised-button color="primary" type="button" [disabled]="appService.state.isGettingPosts || state.isCheckingLikes" (click)="backToUserForm($event)">Вернуться</button>
            <button md-raised-button color="primary" [disabled]="!wallForm.valid || appService.state.isGettingPosts || state.isCheckingLikes" type="submit">Найти</button>
          </form>
        </md-card-content>
      </md-card>
    </md-tab>

  </md-tab-group>
</div>


