<!--The whole content below can be removed with the new code.-->
<div>

  <md-toolbar color="primary">
    <span>
      <a [routerLink]="['/']">VK Liked Posts</a>
      <span *ngIf="((timer - counter * TIMEOUT_STEP) / 1000) > 0"> | 
        <i class="material-icons md-18"> access_time </i> {{ (timer - counter * TIMEOUT_STEP) / 1000 }}
      </span>
    </span>
    <button md-icon-button>
      <a *ngIf="this.authService.loggedIn()" (click)="this.authService.logout()">Log Out</a>
      <a *ngIf="!this.authService.loggedIn()" (click)="this.authService.login()">Log In</a>
    </button>
  </md-toolbar>
  <md-card *ngIf="!this.authService.loggedIn()">
    <span>
      Для взаимодействия с данными VK.com требуется авторизация!
    </span>
  </md-card>
  <md-tab-group [selectedIndex]="selectedTab" *ngIf="this.authService.loggedIn()">

    <md-tab label="Посты" *ngIf="posts.length">
      <md-card *ngFor="let post of posts">
      <md-card-header>
        <md-card-title>{{post.date}}</md-card-title>
        <md-card-subtitle *ngIf="post.reposted === 1">
          <i class="material-icons md-18"> reply </i> репост
        </md-card-subtitle>
      </md-card-header>
        <img *ngIf="post.attachment && post.attachment.type === 'link'" md-card-image src="{{post.attachment.link.image_big}}" alt="">
        <img *ngIf="post.attachment && post.attachment.type === 'photo'" md-card-image src="{{post.attachment.photo.src_big}}" alt="">
        <md-card-content>
          <p>
            {{ post.text }}
          </p>
        </md-card-content>
        <md-card-actions>
          <button (click)="showOriginal(post)" md-button>
            <i class="material-icons md-18"> visibility </i> ОРИГИНАЛ
          </button>
        </md-card-actions>

      </md-card>

    </md-tab>

    <md-tab label="Пользователь">
      <md-card>
        <form novalidate (submit)="submitUserForm($event, userForm.value)" #userForm="ngForm">
          <md-input-container class="md-block">
            <input mdInput ngModel required name="user_id" placeholder="ID кого искать" type="number">
          </md-input-container>
          <div class="md-errors-spacer"></div>

          <button md-raised-button color="primary" [disabled]="!userForm.valid" type="submit">Найти</button>
        </form>
      </md-card>

    </md-tab>

    <md-tab label="Поиск лайков" *ngIf="currentUser.uid">
      <md-card>
        <md-card-header>
          <div md-card-avatar><img src="{{currentUser.photo_50}}" alt=""></div>
          <md-card-title>{{currentUser.first_name}} {{currentUser.last_name}}</md-card-title>
          <md-card-subtitle *ngIf="currentUser.online === 1">Online</md-card-subtitle>
        </md-card-header>
        <form novalidate (submit)="submitLikeForm($event, wallForm)" #wallForm="ngForm">
          <md-input-container class="md-block">
            <input mdInput ngModel required name="group_id" placeholder="ID где искать" type="number">
          </md-input-container>
          <div class="md-errors-spacer"></div>

          <md-select style="width: 100%" placeholder="Группы пользователя">
            <md-option mdInput *ngFor="let group of currentUserGroups" [value]="group.gid">
              <img style="width: 30px; height: 30px; margin: auto auto" src="{{group.photo}}">
              {{group.name}}
            </md-option>
          </md-select>
          <!--
          <md-radio-group name="radio" [(ngModel)]="radio">
            <md-radio-button value="id">ID</md-radio-button>
            <md-radio-button value="domain">Короткий адрес</md-radio-button>
          </md-radio-group>
          -->
          <md-input-container class="md-block">
            <input mdInput min="1" ngModel required name="posts_count" placeholder="Кол-во постов" type="number">
          </md-input-container>
          <div class="md-errors-spacer"></div>

          <button md-raised-button color="primary" [disabled]="!wallForm.valid" type="submit">Найти</button>
        </form>
      </md-card>
    </md-tab>

  </md-tab-group>
</div>


