input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

form {
    margin: 0 auto;
    width: 90%;
}

i {
    // required
    font-family: 'Material Icons';
    font-feature-settings: 'liga';
    font-weight: normal;
    font-style: normal;
    font-size:inherit;
    line-height:inherit;
    vertical-align: top;
    display: inline-block;
    // resetters
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    // optimizers
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper__pagination_controls {
    display: flex;
    flex-direction: column;
    .pagination_controls {
        padding: 15px;
        margin: 0 auto;
    }
}

.progress-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
}

.post_wrapper {
    padding: 24px 0;
}

.input__wrapper {
    width: 90%;
    margin: 0 auto;
}

md-card {
    width: 100%;
    .mat-card-image {
        width: 100%;
        margin: 0 auto;

        &:first-child{
            margin-top: 0px;
        }
    }

    &.mat-card {
        padding: 24px 0;
    }
    md-card-header.mat-card-header {
        width: 90%;
        margin: 0 auto;
    }
    div.mat-card-avatar{
        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
        }
    }
}

md-input-container {
    width: 100%;
}

md-select {
    width: 100%
}

md-option {
    img {
        width: 30px;
        height: 30px;
        margin: auto auto;
    }
}

@media (min-width: 700px) {
    md-card {
        width: 600px;
        margin: 5px auto;

        .mat-card-image {
            width: calc(100% + 48px);
            margin: 0 -24px 16px -24px;
        }

        &.mat-card {
            padding: 24px 0;
        }

        div.mat-card-avatar{
            img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
            }
        }
    }

    form {
        margin: 0 auto;
        width: 200px;
    }
}
