<!--The whole content below can be removed with the new code.-->
<md-sidenav-container layout="row" layout-align="center center">

  <md-toolbar color="primary">
    <span>VK Liked Posts</span>
  </md-toolbar>

  <md-tab-group>

    <md-tab label="Посты">
      <md-card>

        <img md-media-sm src="http://www.jqueryscript.net/images/jQuery-Plugin-For-Fullscreen-Image-Viewer-Chroma-Gallery.jpg" alt="">
        
        <md-card-content>
          <p>
            some description
          </p>
        </md-card-content>

        <md-card-actions>
          <button md-button>
            <i class="material-icons md-18"> visibility </i> ПОСМОТРЕТЬ ОРИГИНАЛ
          </button>
        </md-card-actions>

      </md-card>

    </md-tab>

    <md-tab label="Настройки">
      <md-card>
        <form action="">
          <md-input-container class="md-block">
            <input mdInput placeholder="Пользователь" value="">
          </md-input-container>
          <div class="md-errors-spacer"></div>

          <md-input-container class="md-block">
            <input mdInput placeholder="Сообщество" value="">
          </md-input-container>
          <div class="md-errors-spacer"></div>

          <md-input-container class="md-block">
            <input mdInput placeholder="Кол-во постов" value="">
          </md-input-container>
          <div class="md-errors-spacer"></div>
        </form>
      </md-card>

    </md-tab>

  </md-tab-group>
</md-sidenav-container>


