/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~ng2-image-gallery/ng2-image-gallery.scss';

body {
    margin: 0;
}

md-toolbar-row {
    justify-content: space-between;
}

ul {
    -webkit-padding-start: 0px;
}